# Ignore node_modules
node_modules

# Ignore logs
logs

# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore temporary files
*.log
*.temp
*.swp

# Ignore TypeScript cache
*.tsbuildinfo
